@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}


body {
  background: linear-gradient(-45deg, #ffede8, #fbd8e6, #c8e9f5, #cdfaef);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



img {
  margin: 0 auto;
  display: block;
}

.flexbox {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.search {
  height: 140px;
  width: 100%;
  margin: 50px;
}

.search>h1 {
  color: rgb(34, 32, 32);
  margin-bottom: 15px;
  text-shadow: 0 1px #121213;
}

.search>div {
  display: inline-block;
  position: relative;
}

.search>div:after {
  content: "";
  background: rgb(34, 32, 32);
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.search>div>input {
  color: rgb(34, 32, 32);
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px rgb(27, 26, 26);
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search>div>input::placeholder {
  color: rgb(34, 32, 32);
  opacity: 1;
}

.search>div>input::-ms-placeholder {
  color: #efefef;
}

.search>div>input::-ms-input-placeholder {
  color: #efefef;
}

.search>div>input:focus,
.search>div>input:valid {
  width: 250px;
}

.countries__list {
  padding: 0;
  list-style: none;
}

.countries__list li {
  padding: 6px;
  text-align: left;
}

.countries__list li:before {
  padding-right: 10px;
  font-weight: bold;
  color: rgb(34, 32, 32);
  content: "\2606";
  transition-duration: 0.5s;
}


.countries__list li:hover:before {
  color: rgb(6, 28, 47);
  content: "\2605";
}

.country__description {
  width: 400px;
}

.country__name {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  color: rgb(34, 32, 32);
  text-shadow: 0 1px #121213;
}

.description__list {
  list-style: none;
  text-align: left;
  font-size: 24px;
}

.countries__list {
  font-size: 24px;
}

.title {
  font-weight: 800;
}

.country__flag {
  margin-bottom: 20px;
}

.description__item {
  margin-bottom: 20px;
}

.languages__list {
  margin-left: 50px;
  list-style: none;
}


.languages__list li:before {
  padding-right: 10px;
  font-weight: bold;
  color: rgb(34, 32, 32);
  content: "\2606";
  transition-duration: 0.5s;
}
